/* CSS files add styling rules to your content */

:root {
  --accent: #e68b66;
}

*,
body {
  margin: 0px;
  /*scroll-behavior: smooth;*/
  font-family: "Raleway", sans-serif;
}

form {
  width: 100%;
}

.inner-form-prev {
  border: 2px solid rgb(224, 110, 77);
  padding: 9px 30px;
  font-weight: 600;
  border-radius: 7px;
  font-size: 19px;
  /* border: none; */
  user-select: none;
  /* padding-right: 18px; */
  margin-top: 50px;
  color: rgb(224, 110, 77);
  margin-left: 20px;
}

.slide .container {
  max-height: 100%;
}

.row {
  margin: 0px;
}

body {
  background-image: url(https://cdn.glitch.com/796da011-e95f-4e02-bfad-b54ff3e53b14%2Fbackground.svg?v=1573419956531);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 45%;
  background-attachment: fixed;
  counter-reset: section;
  overflow: hidden;
}

.slide h2::before {
  counter-increment: section;
  content: counter(section);
  display: inline-block;
  margin-right: -5px;
}

.slide h2 {
  color: #373fff;
  font-weight: 500;
  color: var(--accent);
}

.slide h2 img {
  margin-right: 5px;
}

h1 {
  color: black;
  font-weight: 900;
}

.h3,
h3 {
  font-size: 1.4rem;
}

[data-section] {
  opacity: 0;
  /*display:none;
    transition:opacity 3s;*/
  width: 0px;
  height: 0px;
  pointer-events: none;
}

.input-error {
  border: 1px solid #ff3838;
  /* background-color: #ff3838; */
  vertical-align: middle;
  color: white;
  border-radius: 6px;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  width: fit-content;
}

.input-error p {
  margin: 0px;
  color: #ff3838;
  font-weight: 800;
  transition: opacity 0.3s;
}

.button {
  display: inline-block;
  box-shadow: 0 0 20px 2px #00000057;
  color: white;
  background: rgb(238, 175, 133);
  background: -moz-linear-gradient(
    34deg,
    rgba(238, 175, 133, 1) 0%,
    rgba(222, 103, 70, 1) 100%
  );
  background: -webkit-linear-gradient(
    34deg,
    rgba(238, 175, 133, 1) 0%,
    rgba(222, 103, 70, 1) 100%
  );
  background: linear-gradient(
    34deg,
    rgba(238, 175, 133, 1) 0%,
    rgba(222, 103, 70, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#eeaf85", endColorstr="#de6746", GradientType=1);
  padding: 9px 30px;
  font-weight: 700;
  border-radius: 7px;
  font-size: 19px;
  border: none;
  user-select: none;
  padding-right: 18px;
  margin-top: 50px;
}

.button img {
  margin-left: 10px;
  vertical-align: middle;
}

.button:hover {
  text-decoration: none;
  color: white;
}

.section-active {
  opacity: 1;
  display: block;
  /*transition:opacity 3s;*/
  width: 100%;
  height: 100%;
  pointer-events: all;
}

/*.form-slide{
  display:inline-block;
  width:100vw
  transition:all 0.4s
}*/

.row {
  position: relative;
}

/*
.slide {
    overflow: hidden;
}*/

textarea {
  width: 100%;
  min-height: 190px;
  border: 3px solid #00000026;
  border-radius: 13px;
  padding: 10px;
}
.h2,
h2 {
  font-size: 1.5rem;
}
.inner-form-prev:hover {
  text-decoration: none;
  color: rgb(224, 110, 77);
}
.container-fluid {
  width: 80%;
}
.slide {
  display: none;
  min-height: 100vh;
  width: 100%;
  align-items: center;
}
#intro {
  display: flex;
}
.arrows,
.label {
  display: inline-block;
  vertical-align: middle;
}

.order-input {
  border: 2px solid #e17653;
  margin-top: 20px;
  padding: 7px;
  border-radius: 8px;
}

.arrow {
  /* height: 15px; */
  /* background-color: #e0704f; */
  width: 19px;
  text-align: center;
  /* border: 1px solid #e17351; */
  border-radius: 5px;
  /* margin-top: 5px; */
  color: #ff0808;
  font-weight: 900;
  user-select: none;
  cursor: pointer;
  /* font-size: 25px; */
  /* border-radius: 29px; */
  /* border: 1px solid red; */
  text-align: left;
  margin: -5px 0px;
}

.arrow * {
  /* text-align: center; */
}

.arrow.arrow-top img {
  transform: rotate(-90deg);
}

.arrow.arrow-bottom {
  transform: rotate(90deg);
  text-align: center;
  vertical-align: middle;
}
p label {
  margin: 0px 10px;
}

@media screen and (max-width: 800px) {
  .col {
    width: 150vw;
    display: inline-block;
    flex-basis: unset;
  }

  .hide-mobile {
    display: none;
  }
}
/* DEV STYLES */

/*
body {
    overflow: visible;
}

.slide {
    overflow: visible;
    display: block;
    height: fit-content;
    pointer-events: all;
}

[data-section] {
    opacity: 1;
    width: 100%;
    height: fit-content;
}*/
